# Configuration file

"assorted parameters" {
    B:NovamTerramBiomesOn=false
    B:NovamTerramInNewDimensons=true
}


ntbeaches {
    S:"Aegean Archipelago beach"=none
    S:"Alium Meadow beach"=
    S:"Alps beach"=none
    S:"Autumn Forest Hills beach"=none
    S:"Autumn Forest beach"=
    S:"Autumn Taiga Hills beach"=none
    S:"Autumn Taiga beach"=
    S:"Birch Hills beach"=none
    S:"Blossom Forest Hills beach"=none
    S:"Blossom Forest beach"=
    S:"Blue Taiga Hills beach"=none
    S:"Blue Taiga beach"=
    S:"Clayland beach"=none
    S:"Cliffs beach"=none
    S:"Cold Birch Forest Hills beach"=none
    S:"Cold Birch Forest beach"=
    S:"Cold Blue Taiga Hills beach"=none
    S:"Cold Blue Taiga beach"=
    S:"Cold Desert beach"=
    S:"Cold Flower Forest Hills beach"=none
    S:"Cold Flower Forest beach"=
    S:"Cold Forest Hills beach"=none
    S:"Cold Forest beach"=
    S:"Cold Mega Blue Taiga Hills beach"=none
    S:"Cold Mega Blue Taiga beach"=
    S:"Cold Mega Spruce Taiga Hills beach"=none
    S:"Cold Mega Spruce Taiga beach"=
    S:"Cold Mega Taiga Hills beach"=none
    S:"Cold Mega Taiga beach"=
    S:"Cold Roofed Forest Hills beach"=none
    S:"Cold Roofed Forest beach"=
    S:"Fen beach"=none
    S:"Fungal Jungle Hills beach"=none
    S:"Fungal Jungle beach"=
    S:"Glacier beach"=none
    S:"Grass Hills beach"=none
    S:"Green Mixed Forest Hills beach"=none
    S:"Green Mixed Forest beach"=
    S:"Green Swamp beach"=none
    S:"Heath beach"=
    S:"Highland beach"=none
    S:"Hills beach"=none
    S:"Hotspring beach"=none
    S:"Icy Tundra beach"=none
    S:"Lowland beach"=
    S:"Lush Desert beach"=
    S:"Maple Forest Hills beach"=none
    S:"Maple Forest beach"=
    S:"Meadow beach"=
    S:"Mega Autumn Taiga Hills beach"=none
    S:"Mega Autumn Taiga beach"=
    S:"Mega Blue Taiga Hills beach"=none
    S:"Mega Blue Taiga beach"=
    S:"Mega Maple Forest Hills beach"=none
    S:"Mega Maple Forest beach"=
    S:"Mixed Forest Hills beach"=none
    S:"Mixed Forest beach"=
    S:"Monsoon Forest beach"=
    S:"Moorland beach"=none
    S:"Mountains beach"=none
    S:"Oak Forest Hills beach"=none
    S:"Oak Forest beach"=
    S:"Pineland beach"=
    S:"Poppy Meadow beach"=
    S:"Red Sand Dune beach"=none
    S:"Rockland beach"=none
    S:"Rocky Taiga beach"=none
    S:"Royal Forest Hills beach"=none
    S:"Royal Forest beach"=
    S:"Sahel beach"=
    S:"Sand Dune beach"=
    S:"Sand Mountains beach"=none
    S:"Scrubland beach"=
    S:"Shrubland beach"=
    S:"Snowdune beach"=
    S:"Stone Fields beach"=none
    S:"Stone Mountains beach"=none
    S:"Tall Oak Forest Hills beach"=none
    S:"Tall Oak Forest beach"=
    S:"Tundra beach"=
}


ntclimates {
    S:"Aegean Archipelago climate"=Deep_Ocean
    S:"Alium Meadow climate"=PLAINS
    S:"Alps climate"=SNOWY
    S:"Autumn Forest Hills climate"=COOL
    S:"Autumn Forest climate"=COOL
    S:"Autumn Taiga Hills climate"=COOL
    S:"Autumn Taiga climate"=COOL
    S:"Birch Hills climate"=MEDIUM
    S:"Black Beach climate"=OCEAN
    S:"Blossom Forest Hills climate"=MEDIUM
    S:"Blossom Forest climate"=MEDIUM
    S:"Blue Taiga Hills climate"=COOL
    S:"Blue Taiga climate"=COOL
    S:"Brown Beach climate"=OCEAN
    S:"Clayland climate"=MEDIUM
    S:"Cliffs climate"=MEDIUM
    S:"Cold Birch Forest Hills climate"=SNOWY
    S:"Cold Birch Forest climate"=SNOWY
    S:"Cold Blue Taiga Hills climate"=SNOWY
    S:"Cold Blue Taiga climate"=SNOWY
    S:"Cold Desert climate"=SNOWY
    S:"Cold Flower Forest Hills climate"=SNOWY
    S:"Cold Flower Forest climate"=SNOWY
    S:"Cold Forest Hills climate"=SNOWY
    S:"Cold Forest climate"=SNOWY
    S:"Cold Mega Blue Taiga Hills climate"=SNOWY
    S:"Cold Mega Blue Taiga climate"=SNOWY
    S:"Cold Mega Spruce Taiga Hills climate"=SNOWY
    S:"Cold Mega Spruce Taiga climate"=SNOWY
    S:"Cold Mega Taiga Hills climate"=SNOWY
    S:"Cold Mega Taiga climate"=SNOWY
    S:"Cold Roofed Forest Hills climate"=SNOWY
    S:"Cold Roofed Forest climate"=SNOWY
    S:"Estuary climate"=WARM
    S:"Fen climate"=COOL
    S:"Fungal Jungle Hills climate"=HOT
    S:"Fungal Jungle climate"=HOT
    S:"Glacier climate"=SNOWY
    S:"Grass Hills climate"=PLAINS
    S:"Green Mixed Forest Hills climate"=MEDIUM
    S:"Green Mixed Forest climate"=MEDIUM
    S:"Green Swamp climate"=WARM
    S:"Heath climate"=COOL
    S:"Highland climate"=COOL
    S:"Hills climate"=MEDIUM
    S:"Hotspring climate"=MEDIUM
    S:"Icy Tundra climate"=SNOWY
    S:"Iron Beach climate"=OCEAN
    S:"Lake climate"=MEDIUM
    S:"Lowland climate"=MEDIUM
    S:"Lush Desert climate"=HOT
    S:"Maple Forest Hills climate"=COOL
    S:"Maple Forest climate"=COOL
    S:"Meadow climate"=MEDIUM
    S:"Mega Autumn Taiga Hills climate"=COOL
    S:"Mega Autumn Taiga climate"=COOL
    S:"Mega Blue Taiga Hills climate"=COOL
    S:"Mega Blue Taiga climate"=COOL
    S:"Mega Maple Forest Hills climate"=COOL
    S:"Mega Maple Forest climate"=COOL
    S:"Mixed Forest Hills climate"=MEDIUM
    S:"Mixed Forest climate"=MEDIUM
    S:"Monsoon Forest climate"=HOT
    S:"Moorland climate"=COOL
    S:"Mountains climate"=WARM
    S:"Oak Forest Hills climate"=MEDIUM
    S:"Oak Forest climate"=MEDIUM
    S:"Olivine Beach climate"=OCEAN
    S:"Orange Beach climate"=OCEAN
    S:"Pineland climate"=COOL
    S:"Pink Beach climate"=OCEAN
    S:"Poppy Meadow climate"=WARM
    S:"Purple Beach climate"=OCEAN
    S:"Red Sand Dune climate"=HOT
    S:"Rockland climate"=MEDIUM
    S:"Rocky Taiga climate"=COOL
    S:"Royal Forest Hills climate"=MEDIUM
    S:"Royal Forest climate"=MEDIUM
    S:"Sahel climate"=HOT
    S:"Sand Dune climate"=HOT
    S:"Sand Mountains climate"=HOT
    S:"Scrubland climate"=MEDIUM
    S:"Shrubland climate"=COOL
    S:"Snowdune climate"=SNOWY
    S:"Stone Fields climate"=MEDIUM
    S:"Stone Mountains climate"=WARM
    S:"Tall Oak Forest Hills climate"=MEDIUM
    S:"Tall Oak Forest climate"=MEDIUM
    S:"Tundra climate"=SNOWY
    S:"White Beach climate"=OCEAN
    S:"White Orchard climate"=MEDIUM
}


ntincidences {
    I:"Aegean Archipelago Incidence"=5
    I:"Alium Meadow Incidence"=30
    I:"Alps Incidence"=20
    I:"Autumn Forest Hills Incidence"=5
    I:"Autumn Forest Incidence"=5
    I:"Autumn Taiga Hills Incidence"=5
    I:"Autumn Taiga Incidence"=5
    I:"Birch Hills Incidence"=5
    I:"Black Beach Incidence"=0
    I:"Blossom Forest Hills Incidence"=5
    I:"Blossom Forest Incidence"=5
    I:"Blue Taiga Hills Incidence"=5
    I:"Blue Taiga Incidence"=5
    I:"Brown Beach Incidence"=0
    I:"Clayland Incidence"=5
    I:"Cliffs Incidence"=20
    I:"Cold Birch Forest Hills Incidence"=5
    I:"Cold Birch Forest Incidence"=5
    I:"Cold Blue Taiga Hills Incidence"=5
    I:"Cold Blue Taiga Incidence"=5
    I:"Cold Desert Incidence"=5
    I:"Cold Flower Forest Hills Incidence"=5
    I:"Cold Flower Forest Incidence"=5
    I:"Cold Forest Hills Incidence"=5
    I:"Cold Forest Incidence"=5
    I:"Cold Mega Blue Taiga Hills Incidence"=2
    I:"Cold Mega Blue Taiga Incidence"=2
    I:"Cold Mega Spruce Taiga Hills Incidence"=2
    I:"Cold Mega Spruce Taiga Incidence"=2
    I:"Cold Mega Taiga Hills Incidence"=2
    I:"Cold Mega Taiga Incidence"=2
    I:"Cold Roofed Forest Hills Incidence"=10
    I:"Cold Roofed Forest Incidence"=10
    I:"Estuary Incidence"=5
    I:"Fen Incidence"=5
    I:"Fungal Jungle Hills Incidence"=5
    I:"Fungal Jungle Incidence"=5
    I:"Glacier Incidence"=5
    I:"Grass Hills Incidence"=20
    I:"Green Mixed Forest Hills Incidence"=10
    I:"Green Mixed Forest Incidence"=10
    I:"Green Swamp Incidence"=5
    I:"Heath Incidence"=5
    I:"Highland Incidence"=10
    I:"Hills Incidence"=5
    I:"Hotspring Incidence"=5
    I:"Icy Tundra Incidence"=5
    I:"Iron Beach Incidence"=0
    I:"Lake Incidence"=10
    I:"Lowland Incidence"=30
    I:"Lush Desert Incidence"=5
    I:"Maple Forest Hills Incidence"=5
    I:"Maple Forest Incidence"=5
    I:"Meadow Incidence"=30
    I:"Mega Autumn Taiga Hills Incidence"=2
    I:"Mega Autumn Taiga Incidence"=2
    I:"Mega Blue Taiga Hills Incidence"=2
    I:"Mega Blue Taiga Incidence"=2
    I:"Mega Maple Forest Hills Incidence"=2
    I:"Mega Maple Forest Incidence"=2
    I:"Mixed Forest Hills Incidence"=10
    I:"Mixed Forest Incidence"=10
    I:"Monsoon Forest Incidence"=5
    I:"Moorland Incidence"=5
    I:"Mountains Incidence"=30
    I:"Oak Forest Hills Incidence"=10
    I:"Oak Forest Incidence"=10
    I:"Olivine Beach Incidence"=0
    I:"Orange Beach Incidence"=0
    I:"Pineland Incidence"=5
    I:"Pink Beach Incidence"=0
    I:"Poppy Meadow Incidence"=30
    I:"Purple Beach Incidence"=0
    I:"Red Sand Dune Incidence"=5
    I:"Rockland Incidence"=10
    I:"Rocky Taiga Incidence"=10
    I:"Royal Forest Hills Incidence"=5
    I:"Royal Forest Incidence"=5
    I:"Sahel Incidence"=10
    I:"Sand Dune Incidence"=5
    I:"Sand Mountains Incidence"=5
    I:"Scrubland Incidence"=5
    I:"Shrubland Incidence"=5
    I:"Snowdune Incidence"=5
    I:"Stone Fields Incidence"=5
    I:"Stone Mountains Incidence"=30
    I:"Tall Oak Forest Hills Incidence"=5
    I:"Tall Oak Forest Incidence"=5
    I:"Tundra Incidence"=5
    I:"White Beach Incidence"=0
    I:"White Orchard Incidence"=5
}


ntvillages {
    B:"Aegean Archipelago hasVillages"=false
    B:"Alium Meadow hasVillages"=true
    B:"Alps hasVillages"=false
    B:"Autumn Forest Hills hasVillages"=false
    B:"Autumn Forest hasVillages"=false
    B:"Autumn Taiga Hills hasVillages"=false
    B:"Autumn Taiga hasVillages"=false
    B:"Birch Hills hasVillages"=false
    B:"Black Beach hasVillages"=false
    B:"Blossom Forest Hills hasVillages"=false
    B:"Blossom Forest hasVillages"=false
    B:"Blue Taiga Hills hasVillages"=false
    B:"Blue Taiga hasVillages"=false
    B:"Brown Beach hasVillages"=false
    B:"Clayland hasVillages"=false
    B:"Cliffs hasVillages"=false
    B:"Cold Birch Forest Hills hasVillages"=false
    B:"Cold Birch Forest hasVillages"=false
    B:"Cold Blue Taiga Hills hasVillages"=false
    B:"Cold Blue Taiga hasVillages"=false
    B:"Cold Desert hasVillages"=false
    B:"Cold Flower Forest Hills hasVillages"=false
    B:"Cold Flower Forest hasVillages"=false
    B:"Cold Forest Hills hasVillages"=false
    B:"Cold Forest hasVillages"=false
    B:"Cold Mega Blue Taiga Hills hasVillages"=false
    B:"Cold Mega Blue Taiga hasVillages"=false
    B:"Cold Mega Spruce Taiga Hills hasVillages"=false
    B:"Cold Mega Spruce Taiga hasVillages"=false
    B:"Cold Mega Taiga Hills hasVillages"=false
    B:"Cold Mega Taiga hasVillages"=false
    B:"Cold Roofed Forest Hills hasVillages"=false
    B:"Cold Roofed Forest hasVillages"=false
    B:"Estuary hasVillages"=false
    B:"Fen hasVillages"=false
    B:"Fungal Jungle Hills hasVillages"=false
    B:"Fungal Jungle hasVillages"=false
    B:"Glacier hasVillages"=false
    B:"Grass Hills hasVillages"=true
    B:"Green Mixed Forest Hills hasVillages"=false
    B:"Green Mixed Forest hasVillages"=false
    B:"Green Swamp hasVillages"=false
    B:"Heath hasVillages"=false
    B:"Highland hasVillages"=false
    B:"Hills hasVillages"=false
    B:"Hotspring hasVillages"=false
    B:"Icy Tundra hasVillages"=false
    B:"Iron Beach hasVillages"=false
    B:"Lake hasVillages"=false
    B:"Lowland hasVillages"=false
    B:"Lush Desert hasVillages"=false
    B:"Maple Forest Hills hasVillages"=false
    B:"Maple Forest hasVillages"=false
    B:"Meadow hasVillages"=false
    B:"Mega Autumn Taiga Hills hasVillages"=false
    B:"Mega Autumn Taiga hasVillages"=false
    B:"Mega Blue Taiga Hills hasVillages"=false
    B:"Mega Blue Taiga hasVillages"=false
    B:"Mega Maple Forest Hills hasVillages"=false
    B:"Mega Maple Forest hasVillages"=false
    B:"Mixed Forest Hills hasVillages"=false
    B:"Mixed Forest hasVillages"=false
    B:"Monsoon Forest hasVillages"=false
    B:"Moorland hasVillages"=false
    B:"Mountains hasVillages"=false
    B:"Oak Forest Hills hasVillages"=false
    B:"Oak Forest hasVillages"=false
    B:"Olivine Beach hasVillages"=false
    B:"Orange Beach hasVillages"=false
    B:"Pineland hasVillages"=false
    B:"Pink Beach hasVillages"=false
    B:"Poppy Meadow hasVillages"=false
    B:"Purple Beach hasVillages"=false
    B:"Red Sand Dune hasVillages"=false
    B:"Rockland hasVillages"=false
    B:"Rocky Taiga hasVillages"=false
    B:"Royal Forest Hills hasVillages"=false
    B:"Royal Forest hasVillages"=false
    B:"Sahel hasVillages"=false
    B:"Sand Dune hasVillages"=false
    B:"Sand Mountains hasVillages"=false
    B:"Scrubland hasVillages"=true
    B:"Shrubland hasVillages"=true
    B:"Snowdune hasVillages"=false
    B:"Stone Fields hasVillages"=false
    B:"Stone Mountains hasVillages"=false
    B:"Tall Oak Forest Hills hasVillages"=false
    B:"Tall Oak Forest hasVillages"=false
    B:"Tundra hasVillages"=false
    B:"White Beach hasVillages"=false
    B:"White Orchard hasVillages"=false
}


