# Configuration file

general {

    general {
        D:cameraSwayFadeInDelay=0.15
        D:cameraSwayFadeInLength=5.0
        D:cameraSwayFadeOutLength=0.75
        D:cameraSwayFrequency=0.16
        D:cameraSwayIntensity=0.6
        D:contextTransitionSmoothing=0.1
        B:enableInThirdPerson=true
        B:enabled=true

        # List of entity class names to ignore for camera effects.
        # Useful for compatibility with mods that use custom camera entities (e.g., mirrors).
        # You can use partial class names - if the entity's class name CONTAINS any of these strings, it will be ignored.
        # Examples: 'EntityMirror', 'mrcrayfish', 'Mirror'
        S:entityBlacklist <
            com.mrcrayfish.furniture.entity.EntityMirror
         >
        D:explosionTrauma=1.0
        D:handSwingTrauma=0.03

        # If true, only EntityLivingBase and its subclasses will have camera effects applied.
        B:onlyLivingEntities=true
        B:scaleExplosionByStrength=true
        D:screenShakesMaxFrequency=6.0
        D:screenShakesMaxIntensity=2.5
        D:thunderTrauma=0.05
        D:turningRollAccumulation=1.0
        D:turningRollIntensity=1.25
        D:turningRollSmoothing=1.0
    }

    walking {
        D:forwardVelocityPitchFactor=7.0
        D:horizontalVelocitySmoothingFactor=1.0
        D:mouseSmoothing=0.0
        D:strafingRollFactor=10.0
        D:verticalVelocityPitchFactor=2.5
        D:verticalVelocitySmoothingFactor=1.0
    }

    sprinting {
        D:forwardVelocityPitchFactor=9.5
        D:horizontalVelocitySmoothingFactor=1.0
        D:mouseSmoothing=0.6
        D:strafingRollFactor=12.5
        D:verticalVelocityPitchFactor=2.5
        D:verticalVelocitySmoothingFactor=1.0
    }

    flying {
        D:forwardVelocityPitchFactor=7.0
        D:horizontalVelocitySmoothingFactor=1.0
        D:mouseSmoothing=1.0
        D:strafingRollFactor=-10.0
        D:verticalVelocityPitchFactor=2.5
        D:verticalVelocitySmoothingFactor=1.0
    }

    swimming {
        D:forwardVelocityPitchFactor=21.0
        D:horizontalVelocitySmoothingFactor=1.0
        D:mouseSmoothing=1.5
        D:strafingRollFactor=-30.0
        D:verticalVelocityPitchFactor=7.5
        D:verticalVelocitySmoothingFactor=1.0
    }

    mounts {
        D:forwardVelocityPitchFactor=3.5
        D:horizontalVelocitySmoothingFactor=1.0
        D:mouseSmoothing=1.0
        D:strafingRollFactor=20.0
        D:verticalVelocityPitchFactor=2.5
        D:verticalVelocitySmoothingFactor=1.0
    }

    vehicles {
        D:forwardVelocityPitchFactor=3.5
        D:horizontalVelocitySmoothingFactor=1.0
        D:mouseSmoothing=0.0
        D:strafingRollFactor=5.0
        D:verticalVelocityPitchFactor=5.0
        D:verticalVelocitySmoothingFactor=1.0
    }

}


