# Configuration file

general {
    # Max angle for auto-switching to next target [range: 0.0 ~ 180.0, default: 90.0]
    S:"Auto Switch Angle"=90.0

    # Distance to find next target after kill [range: 1.0 ~ 64.0, default: 12.0]
    S:"Auto Switch Range"=12.0

    # Maximum distance to lock on target [range: 1.0 ~ 128.0, default: 24.0]
    S:"Max Range"=24.0

    # How fast camera follows the target [range: 0.1 ~ 10.0, default: 2.5]
    S:"Rotation Speed"=2.5

    # Height offset for focus (0 = feet, 1 = head) [range: 0.0 ~ 1.0, default: 0.66]
    S:"Target Height Multiplier"=0.66

    # Ticks before losing lock if target is behind wall [range: 0 ~ 4000, default: 20]
    I:"Wall Timeout"=20
}


mwc_integration {
    # If true, auto-target switching will be disabled when holding a Vic's Modern Warfare gun [default: true]
    B:"Disable MWC Auto-Switch"=true
}


