# Configuration file

general {

    ##########################################################################################################
    # dash_and_stamina
    #--------------------------------------------------------------------------------------------------------#
    # Dash and Stamina Settings
    ##########################################################################################################

    dash_and_stamina {

        ##########################################################################################################
        # stamina
        #--------------------------------------------------------------------------------------------------------#
        # Stamina Settings
        ##########################################################################################################

        stamina {
            # Stamina cost for jumping
            # Min: 0
            # Max: 200
            I:jumpCost=0

            # Delay before stamina regenerates after a jump
            # Min: 0
            # Max: 100
            I:jumpRegenDelay=0

            # If true, maximum stamina is limited by player's food level
            B:limitByFood=true

            # Maximum stamina value
            # Min: 1
            # Max: 1000
            I:maxStamina=20

            # Interval between stamina regen ticks (With Boost)
            # Min: 0
            # Max: 100
            I:regenIntervalBoost=4

            # Interval between stamina regen ticks (Normal)
            # Min: 0
            # Max: 100
            I:regenIntervalNormal=6

            # Sprint drain interval in ticks
            # Min: 0
            # Max: 200
            I:sprintDrainInterval=25

            # Delay before stamina regenerates after sprinting
            # Min: 0
            # Max: 200
            I:sprintRegenDelay=20

            # Amount of stamina drained per tick
            # Min: 0
            # Max: 10
            I:staminaDrainAmount=1

            # Amount of stamina regenerated per tick
            # Min: 0
            # Max: 10
            I:staminaRegenAmount=1
        }

        ##########################################################################################################
        # stamina_effects
        #--------------------------------------------------------------------------------------------------------#
        # Low Stamina Effect Settings
        ##########################################################################################################

        stamina_effects {
            # Mining fatigue amplifier
            # Min: 0
            # Max: 10
            I:fatigueAmplifier=0

            # Mining fatigue duration in ticks
            # Min: 1
            # Max: 200
            I:fatigueDuration=10

            # Max timer for low stamina effects
            I:lowStaminaTimerMax=100

            # Slowness effect amplifier
            # Min: 0
            # Max: 10
            I:slownessAmplifier=2

            # Slowness effect duration in ticks
            # Min: 1
            # Max: 200
            I:slownessDuration=10

            # Weakness effect amplifier
            # Min: 0
            # Max: 10
            I:weaknessAmplifier=0

            # Weakness effect duration in ticks
            # Min: 1
            # Max: 200
            I:weaknessDuration=10
        }

        ##########################################################################################################
        # overlay
        #--------------------------------------------------------------------------------------------------------#
        # Stamina HUD Overlay Settings
        ##########################################################################################################

        overlay {
            # Additional Y offset of the alt-HUD dash bar (positive = down, negative = up)
            # Min: -5000
            # Max: 5000
            I:altDashBarOffsetY=0

            # X offset of the alternative stamina bar from the screen center
            # Min: -5000
            # Max: 5000
            I:altOverlayBaseX=0

            # Y offset of the alternative stamina bar from its base position
            # Min: -5000
            # Max: 5000
            I:altOverlayBaseY=0

            # X offset of the dash cooldown bar from the screen center
            # Min: -5000
            # Max: 5000
            I:dashBarBaseX=0

            # Y offset of the dash cooldown bar from the screen center
            # Min: -5000
            # Max: 5000
            I:dashBarBaseY=5

            # X offset of the stamina bar from the right edge of the screen
            # Min: -5000
            # Max: 5000
            I:overlayBaseX=0

            # Y offset of the stamina bar from the bottom edge of the screen
            # Min: -5000
            # Max: 5000
            I:overlayBaseY=0

            # Use Alternative Stamina HUD
            B:useAlternativeStaminaHUD=true
        }

        ##########################################################################################################
        # dash
        #--------------------------------------------------------------------------------------------------------#
        # Dash/Roll Settings
        ##########################################################################################################

        dash {
            # Allow Dash In Water
            B:allowDashInLiquids=false

            # Reset the cooldown for hitting while dashing
            B:attackExtraCooldown=false

            # Stamina penalty for hitting while dashing
            # Min: 0
            # Max: 100
            I:attackExtraStamina=2

            # Default cooldown ticks after a dash
            # Min: 0
            # Max: 1000
            I:cooldownTicks=20

            # Number of particles spawned during dash
            # Min: 0
            # Max: 100
            I:particleCount=15

            # Height offset of dash particles
            # Min: 0.0
            # Max: 10.0
            D:particleHeight=0.1

            # Speed of dash particles
            # Min: 0.0
            # Max: 10.0
            D:particleSpeed=0.05

            # Spread of dash particles
            # Min: 0.0
            # Max: 10.0
            D:particleSpread=0.3

            # Y offset for particle spawn position
            # Min: 0.0
            # Max: 10.0
            D:particleYOffset=0.1

            # Post-dash invulnerability duration in ticks
            # Min: 0
            # Max: 100
            I:postTimerTicks=10

            # Resistance effect duration in ticks during dash
            # Min: 0
            # Max: 200
            I:resistanceDuration=10

            # Resistance effect level during dash (0 = I)
            # Min: 0
            # Max: 255
            I:resistanceLevel=2

            # Pitch of dash sound
            # Min: 0.0
            # Max: 5.0
            D:soundPitch=1.0

            # Volume of dash sound
            # Min: 0.0
            # Max: 5.0
            D:soundVolume=1.0

            # Speed multiplier applied during dash
            # Min: 0.0
            # Max: 10.0
            D:speed=1.0

            # Stamina cost per dash
            # Min: 0.0
            # Max: 100.0
            D:staminaCost=0.0

            # Delay before stamina starts regenerating after dash
            # Min: 0
            # Max: 200
            I:staminaRegenDelay=20

            # Weakness effect duration in ticks during dash
            # Min: 0
            # Max: 200
            I:weaknessDuration=10

            # Weakness effect level during dash (0 = I)
            # Min: 0
            # Max: 255
            I:weaknessLevel=1
        }

    }

    ##########################################################################################################
    # biomeinfo
    #--------------------------------------------------------------------------------------------------------#
    # Biome Info Settings
    ##########################################################################################################

    biomeinfo {
        # If true, will append the mod name the biome is from to the biome name.
        B:appendModName=false

        # The color to display the biome info in (Format: 0xRRGGBB)
        I:color=16777215

        # How long in ticks (20 ticks = 1 second) to display the biome info, if fadeOut = true. If fadeIn = true, the time will be counted from the moment the biome info has finished fading in.
        # Min: 0
        # Max: 2147483647
        I:displayTime=30

        # true if the biome info should be shown, false otherwise
        B:enabled=true

        # true if the biome info should fade in when a different biome has been entered
        B:fadeIn=true

        # true if the biome info should fade out shortly after a different biome has been entered. If this is set to false, the biome info will stay visible
        B:fadeOut=true

        # If true, will automatically format biome names that do not have a proper translation into an English name.
        B:fallbackOnUntranslatableName=true

        # If true, hides the mod's info text when the debug screen (F3) is open.
        B:hideOnDebugScreen=true

        # If true, hides the mod's info text when the game's UI is also hidden (F1).
        B:hideWithUI=true

        # The X position to display the biome info at
        I:posX=3

        # The Y position to display the biome info at
        I:posY=3

        # This lets BiomeInfo automatically determine the correct position of the text without needing to change the posX, posY, or textAlignment configuration settings manually.
        # If this is set to NONE, then BiomeInfo will use those configuration settings. If this is set to anything other than NONE, they will be ignored.
        # Valid values:
        # NONE
        # TOP_LEFT
        # TOP_MIDDLE
        # TOP_RIGHT
        # MIDDLE_LEFT
        # MIDDLE
        # MIDDLE_RIGHT
        # BOTTOM_LEFT
        # BOTTOM_MIDDLE
        # BOTTOM_RIGHT
        # ABOVE_MIDDLE
        # ABOVE_HOTBAR
        # LEFT_OF_CROSSHAIR
        # RIGHT_OF_CROSSHAIR
        # ABOVE_CROSSHAIR
        # UNDER_CROSSHAIR_WITH_ATTACK_INDICATOR
        # UNDER_CROSSHAIR
        S:positionPreset=TOP_LEFT

        # The size of the biome info (multiplier)
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:scale=1.0

        # The text alignment of the biome info.
        # Valid values:
        # LEFT
        # MIDDLE
        # RIGHT
        S:textAlignment=LEFT

        # true if the biome info should be rendered with a shadow, false otherwise
        B:textShadow=true
    }

    ##########################################################################################################
    # armor
    #--------------------------------------------------------------------------------------------------------#
    # Armor Settings
    ##########################################################################################################

    armor {
        # Disable registration of instinct armors
        B:disableInstinctArmor=false

        # Disable registration of marbled armors
        B:disableMarbledArmor=false
    }

    ##########################################################################################################
    # visuals
    #--------------------------------------------------------------------------------------------------------#
    # Visual Settings (Backported Mods)
    ##########################################################################################################

    visuals {
        # Enable the NoHurtFlash mod (Removes red flash when taking damage)
        B:enableNoHurtFlash=true
    }

    ##########################################################################################################
    # headshots
    #--------------------------------------------------------------------------------------------------------#
    # Настройки системы хэдшотов
    ##########################################################################################################

    headshots {
        # Добавляйте мобов вручную, если автоматика ошибается.
        # Формат: modid:name, forwardOffset, yOffset, radius
        # Пример: minecraft:cow, 0.6, 1.1, 0.25
        S:"2. Кастомные мобы" <
            minecraft:cow, 0.6, 1.1, 0.25
            minecraft:sheep, 0.5, 1.0, 0.25
            minecraft:pig, 0.5, 0.8, 0.25
         >

        1 {

            ##########################################################################################################
            #  общие настройки (автоматика)
            #--------------------------------------------------------------------------------------------------------#
            # Настройки для мобов, которые вычисляются автоматически
            ##########################################################################################################

            " общие настройки (автоматика)" {
                # Базовый множитель размера хитбокса головы
                D:baseRadius=0.25

                # Урон будет умножаться на это число
                D:damageMultiplier=2.5

                # [Гуманоиды] Смещение по Y (прибавляется к высоте глаз)
                D:humanoidYOffset=0.05

                # [Четвероногие] Смещение вперед (в процентах от ширины, 0.5 = передняя грань)
                D:quadrupedForwardOffsetMult=0.5

                # [Четвероногие] Доп. смещение по высоте (в блоках)
                D:quadrupedYOffsetAdd=0.1

                # [Четвероногие] Смещение по Y (в процентах от роста, 0.5 = половина)
                D:quadrupedYOffsetMult=0.5
            }

        }

    }

    ##########################################################################################################
    # techguns
    #--------------------------------------------------------------------------------------------------------#
    # Techguns2 Port Settings
    ##########################################################################################################

    techguns {

        ##########################################################################################################
        # structures
        #--------------------------------------------------------------------------------------------------------#
        # Настройки шанса спавна структур (0 - выключить)
        ##########################################################################################################

        structures {
            I:aircraftCarrierWeight=1
            I:alienBugNestWeight=20
            I:castleWeight=1
            I:desertOilClusterWeight=15
            I:factoryHouseSmallWeight=10
            I:gasStationWeight=10
            I:militaryBaseWeight=1
            I:netherAcidHoleWeight=10
            I:netherAltarMediumWeight=10
            I:netherAltarSmallWeight=10
            I:netherGhastSpawnerWeight=10
            I:netherLoot01Weight=10
            I:netherOreClusterCastleWeight=10
            I:netherOreClusterSmallWeight=10
            I:netherSoulPlatformWeight=10
            I:oreClusterMeteorBasisWeight=5
            I:oreClusterSpikeWeight=10
            I:policeStationWeight=10
            I:smallMineWeight=10
            I:smallTrainstationWeight=10

            # Modulus chunk frequency for big structures. Default was 100. Lower = more frequent.
            I:spawnWeightBig=31

            # Modulus chunk frequency for medium structures. Default was 50. Lower = more frequent.
            I:spawnWeightMedium=16

            # Modulus chunk frequency for small structures. Default was 20. Lower = more frequent.
            I:spawnWeightSmall=6
            I:survivorHideoutWeight=10
        }

        ##########################################################################################################
        # spawners
        #--------------------------------------------------------------------------------------------------------#
        # Настройки моб спавнеров
        ##########################################################################################################

        spawners {
            # Задержка между спавном волн (в тиках)
            I:delay=100

            # Максимальное количество живых мобов из одного спавнера одновременно
            I:maxMobsAlive=5

            # Список мобов, которые могут спавниться. Формат: modid:entity
            S:spawnerMobs <
                minecraft:zombie
                minecraft:skeleton
             >

            # Количество волн мобов до уничтожения спавнера
            I:waves=3
        }

        ##########################################################################################################
        # crates
        #--------------------------------------------------------------------------------------------------------#
        # Настройки лута из ящиков. Формат: modid:itemid,chance(от 0.0 до 1.0)
        ##########################################################################################################

        crates {
            # Ящик с патронами (AMMO). Число - вес вероятности.
            S:ammoCrateLoot <
                minecraft:arrow,10
             >

            # Ящик с броней (ARMOR). Число - вес вероятности.
            S:armorCrateLoot <
                minecraft:iron_chestplate,10
             >

            # Ящик со взрывчаткой (EXPLOSIVE). Число - вес вероятности.
            S:explosiveCrateLoot <
                minecraft:tnt,10
             >

            # Обычный ящик (GENERIC). Число - вес вероятности.
            S:genericCrateLoot <
                minecraft:coal,10
             >

            # Медицинский ящик (MEDICAL). Число - вес вероятности.
            S:medicalCrateLoot <
                minecraft:apple,10
             >

            # Оружейный ящик (GUN). Число - вес вероятности.
            S:weaponCrateLoot <
                minecraft:iron_sword,10
             >
        }

    }

    ##########################################################################################################
    # combat_feedback
    #--------------------------------------------------------------------------------------------------------#
    # Combat Feedback (Hitmarkers & Hit Sounds)
    ##########################################################################################################

    combat_feedback {
        # Enable audio hit and kill sound effects
        B:enable_hit_sounds=true

        # Enable visual hitmarkers on hit/headshot/kill
        B:enable_hitmarkers=true
    }

    ##########################################################################################################
    # item_inspect
    #--------------------------------------------------------------------------------------------------------#
    # 3D Item Inspection & Customization Settings
    ##########################################################################################################

    item_inspect {
        # Enable the in-game 3D inspect transform maker GUI and settings button [M]
        B:enable_inspect_maker=false

        # Global scale multiplier for weapons rendered in the weapon modification/customization GUI
        # Min: 0.1
        # Max: 5.0
        D:global_customization_weapon_scale=1.0

        # Global scale multiplier for all 3D items rendered in the inspect GUI
        # Min: 0.1
        # Max: 5.0
        D:global_inspect_scale=1.0
    }

}


